# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/logs/
/CREDITS.txt
/forge-1.19.2-43.2.18-mdk.zip
/LICENSE.txt
/README.txt
