# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/forge-1.20.1-47.3.0-mdk.zip
/forge-1.19.2-43.2.18-mdk.zip
/logs/
/forge-1.20.1-47.3.0-mdk/
